@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.stack {
	/* aspect-ratio: 960/200; */
	width: 100%;
  bottom: -1px;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
  position: absolute;
  @apply shadow-lg;
}
.icon {
  display: inline;
  width: 19px;
}
body {height:100%; overflow: hidden}